@using System.Text
@model FeaturedBlogs

@{
    void Render(DateField releaseDate, ItemLinkField<Author> author)
    {
        var featuredText = new StringBuilder(releaseDate?.Value.ToString("d MMMM yyyy"));

        if (author != null && !string.IsNullOrEmpty(author.Fields?.Name.Value) && !string.IsNullOrEmpty(author.Fields?.Surname.Value))
        {
            featuredText.Append(" - ");
            featuredText.Append(string.Join(" ", author.Fields.Name.Value, author.Fields.Surname.Value));
        }
        <p class="blog-preferences__meta-data">
            @featuredText.ToString()
        </p>
    }
}

<section class="blog-preferences">
    <div class="container">
        <div class="blog-preferences__highlighted-blogpost">
            <div class="img-wrapper-stretch">
                <sc-img asp-for="HighlightedBlogPost.Fields.FeaturedImage" />
            </div>
            <div class="blog-preferences__blogpost-tags">
                @if (Model.HighlightedBlogPost?.Fields?.Tags != null && (bool)Model.HighlightedBlogPost.Fields?.Tags.Any())
                {
                    foreach (var tag in Model.HighlightedBlogPost.Fields.Tags.Take(4))
                    {
                        <a href="@Model.BlogKeywordPage?.Fields?.Link?.Value?.Href/topics/@tag.Fields?.Title?.Value.ToLower()" class="blogpost-suggestion-item__blogpost-tag">#@tag.Fields?.Title?.Value?.ToLower()</a>
                    }
                }
            </div>
            <a href="@Model.HighlightedBlogPost?.Url" class="blog-preferences__blogpost-headline">
                <h2 class="h2">
                    <sc-text asp-for="HighlightedBlogPost.Fields.TeaserTitle" />
                </h2>
            </a>
            <p class="blog-preferences__blogpost-preview">
                <sc-text asp-for="HighlightedBlogPost.Fields.TeaserText" />
            </p>
            @{ Render(Model.HighlightedBlogPost?.Fields?.ReleaseDate, Model.HighlightedBlogPost?.Fields?.Author); }
        </div>
        <div class="blog-preferences__blogpost-list">
            @if (Model.FeaturedBlogPosts != null && Model.FeaturedBlogPosts.Any())
            {
                foreach (var featuredBlogPost in Model.FeaturedBlogPosts)
                {
                    <div class="blog-preferences__blogpost-item">
                        <div class="img-wrapper-stretch">
                            <sc-img asp-for="@featuredBlogPost.Fields.FeaturedImage" />
                        </div>
                        <div class="blog-preferences__blogpost-item-data">
                            <div class="blog-preferences__blogpost-tags">
                                @if (featuredBlogPost.Fields?.Tags != null && featuredBlogPost.Fields.Tags.Any())
                                {
                                    foreach (var tag in featuredBlogPost.Fields?.Tags.Take(3))
                                    {
                                        <a href="@Model.BlogKeywordPage?.Fields?.Link?.Value?.Href/topics/@tag.Fields?.Title?.Value.ToLower()" class="blogpost-suggestion-item__blogpost-tag">#@tag.Fields?.Title?.Value?.ToLower()</a>
                                    }
                                }
                            </div>
                            <a href="@featuredBlogPost.Url" class="blog-preferences__blogpost-headline">
                                <h6 class="h6">
                                    @featuredBlogPost.Fields?.TeaserTitle?.Value
                                </h6>
                            </a>
                            @{ Render(featuredBlogPost.Fields?.ReleaseDate, featuredBlogPost.Fields?.Author); }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>