@using System.Text
@using Hackathon.Feature.Blog
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
@model Techtalk

<section class="techtalk bg-black">
    <div class="container">
        <h2 class="h2 text-white">
            <sc-text asp-for="Headline" />
        </h2>
        <div class="techtalk__slider">
            <div class="techtalk__slider-content swiper-container" id="swiper">
                <div class="swiper-wrapper">
                    @if (Model?.BlogPosts != null)
                    {
                        @foreach (var post in Model.BlogPosts)
                        {
                            <div class="swiper-slide">
                                <div class="img-responsive">
                                    <sc-img asp-for="@post.Fields.FeaturedImage" />
                                </div>
                                <div class="techtalk__blogpost-content">
                                    <div class="blog-preferences__blogpost-tags">
                                        @if (post.Fields?.Tags != null && (bool)post.Fields?.Tags.Any())
                                        {
                                            foreach (var tag in post.Fields.Tags.Take(4))
                                            {
                                                <a href="@Model.BlogKeywordPage?.Fields?.Link?.Value?.Href/topics/@tag.Fields?.Title?.Value.ToLower()" class="blogpost-suggestion-item__blogpost-tag">#@tag.Fields?.Title?.Value?.ToLower()</a>
                                            }
                                        }
                                    </div>
                                    @if (this.SitecoreContext().IsEditing)
                                    {
                                        <div class="blog-preferences__blogpost-headline">
                                            <h2 class="h2">
                                                <sc-text asp-for="@post.Fields.TeaserTitle" />
                                            </h2>
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="@post?.Url" class="blog-preferences__blogpost-headline">
                                            <h2 class="h2">
                                                <sc-text asp-for="@post.Fields.TeaserTitle" />
                                            </h2>
                                        </a>
                                    }
                                    <p class="blog-preferences__blogpost-preview">
                                        <sc-text asp-for="@post.Fields.TeaserText" />
                                    </p>
                                    @{
                                        var highlightedText = new StringBuilder(post?.Fields?.ReleaseDate?.Value.ToString("d MMMM yyyy"));

                                        if (post.Fields?.Author != null && !string.IsNullOrEmpty(post.Fields?.Author.Fields?.Name.Value) &&
                                            !string.IsNullOrEmpty(post.Fields?.Author.Fields?.Surname.Value))
                                        {
                                            highlightedText.Append(" - ");
                                            highlightedText.Append(string.Join(" ", post.Fields?.Author.Fields.Name.Value, post.Fields?.Author.Fields.Surname.Value));
                                        }
                                        <p class="blog-preferences__meta-data">
                                            @highlightedText.ToString()
                                        </p>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="techtalk__slider-controls">
                <button class="techtalk__slider-btn main-btn prev accent-active-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                        <g id="Icon/navigation/chevron-right"
                           fill-rule="evenodd"
                           stroke="none"
                           stroke-width="1">
                            <path id="Path"
                                  d="M9 9l3.26-3L25 18 12.26 30 9 27l9.6-9z"
                                  transform="matrix(-1 0 0 1 34 0)" />
                        </g>
                    </svg>
                </button>
                <button class="techtalk__slider-btn main-btn next accent-active-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                        <g id="Icon/navigation/chevron-left"
                           fill-rule="evenodd"
                           stroke="none"
                           stroke-width="1">
                            <path id="Path"
                                  d="M11 9l3.26-3L27 18 14.26 30 11 27l9.6-9z" />
                        </g>
                    </svg>
                </button>
            </div>
        </div>
        <a href="@Model.BlogKeywordPage?.Fields?.Link?.Value?.Href/topics/@Model.Tag?.Fields?.Title?.Value.ToLower()" class="techtalk__cta app-inline-link app-inline-link--white">
            @Localizer["All Techtalk posts"]
        </a>
    </div>
</section>