@model TeamOverviewViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer

<section class="team-overview">
    <div class="container">
        <div class="team-overview__controls app-filters-wrapper">
            <div class="app-filter__filter-mob-section">
                <button type="button" class="team-overview__filter-btn  app-filter-btn--mobile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                        <g id="Icon/interaction/filter" fill-rule="evenodd" stroke="none" stroke-width="1">
                            <path id="Path" d="M7 6h22l-9 15.1V30l-4-3v-5.9z" />
                        </g>
                    </svg>

                    Filter
                </button>
                <button class="app-filter__close-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                        <g id="Icon/navigation/cross" fill-rule="evenodd" stroke="none" stroke-width="1">
                            <path id="Path"
                                  d="M30 27.08l-9.18-9.1 9.09-9.17L27.08 6l-9.1 9.18-9.17-9.09L6 8.9l9.19 9.1-9.1 9.19L8.9 30l9.11-9.2 9.18 9.1z"
                                  transform="rotate(90 18 18)" />
                        </g>
                    </svg>
                </button>
            </div>
            <div class="all-jobs__filters">
                <div class="team-overview__filter app-filter">
                    <button type="button" name="location" class="team-overview__filter-btn app-filter-btn">
                        <svg width="36" height="36" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m18 26-6.928-12h13.856z"
                                fill="#222"
                                fill-rule="evenodd"
                            />
                        </svg>
                        Büro
                    </button>

                    <div class="app-filter-result app-filter-result--mob" data-filter="location">
                        <div data-result="location" class="app-filter-result-wrapper">
                            @foreach (var location in Model.Locations)
                            {
                                <div class="app-filter-result__item" data-filter-group="location">
                                    @if (location.IsClearSelection)
                                    {
                                        <button type="button" class="app-filter-result-btn">
                                            @location.Title
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="app-filter-result-btn" name="@location.Id">
                                            @location.Title
                                        </button>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-overview__search app-filter-search">
                <button type="button" class="app-filter-search__search-mob-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                        <g id="Icon/interaction/search" fill-rule="evenodd" stroke="none" stroke-width="1">
                            <path id="Path"
                                  d="M30 27.65l-6.25-6.2a9.63 9.63 0 0 0 1.87-5.72c0-5.37-4.4-9.73-9.81-9.73S6 10.37 6 15.73a9.81 9.81 0 0 0 15.34 8.03L27.63 30 30 27.65zM8.88 15.73a6.9 6.9 0 0 1 6.93-6.88 6.91 6.91 0 0 1 6.93 6.88 6.9 6.9 0 0 1-6.93 6.88 6.91 6.91 0 0 1-6.93-6.88z" />
                        </g>
                    </svg>
                    Suche
                </button>
                <svg class="app-filter-search__search-icon" xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                    <g id="Icon/interaction/search" fill-rule="evenodd" stroke="none" stroke-width="1">
                        <path id="Path"
                              d="M30 27.65l-6.25-6.2a9.63 9.63 0 0 0 1.87-5.72c0-5.37-4.4-9.73-9.81-9.73S6 10.37 6 15.73a9.81 9.81 0 0 0 15.34 8.03L27.63 30 30 27.65zM8.88 15.73a6.9 6.9 0 0 1 6.93-6.88 6.91 6.91 0 0 1 6.93 6.88 6.9 6.9 0 0 1-6.93 6.88 6.91 6.91 0 0 1-6.93-6.88z" />
                    </g>
                </svg>
                <input type="text" placeholder="Suche" class="team-overview__search-input app-filter-search__search-input " />
                <button class="app-filter-search__close-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">
                        <g id="Icon/navigation/cross" fill-rule="evenodd" stroke="none" stroke-width="1">
                            <path id="Path"
                                  d="M30 27.08l-9.18-9.1 9.09-9.17L27.08 6l-9.1 9.18-9.17-9.09L6 8.9l9.19 9.1-9.1 9.19L8.9 30l9.11-9.2 9.18 9.1z"
                                  transform="rotate(90 18 18)" />
                        </g>
                    </svg>
                </button>
            </div>
        </div>
        <div class="team-overview__list">
            @if (Model?.TeamDetails != null && Model.TeamDetails.Any())
            {
                @foreach (var teamDetail in Model.TeamDetails)
                {
                    <a href="@teamDetail?.Url" class="team-overview__employee-link">
                        <div class="img-wrapper-stretch">
                            <img src="@teamDetail?.ProfileImageUrl" alt="@teamDetail?.ProfileImageAltText" />
                        </div>
                        @if (false)
                        {
                            <span class="team-overview__employee-name">
                                @string.Join(" ", teamDetail?.Name, teamDetail?.Surname)
                            </span>
                            <span class="team-overview__employee-job">
                                @string.Join(" - ", teamDetail?.Position, teamDetail?.Location)
                            </span>
                        }
                    </a>
                }
            }
        </div>
    </div>
</section>